root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 160
tab_width = 4
ij_continuation_indent_size = 4
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = true
ij_wrap_on_typing = true
ij_visual_guides = 80, 140, 160

[Makefile*]
indent_style = tab


[.editorconfig]
ij_editorconfig_align_group_field_declarations = false
# ij_editorconfig_space_after_colon = false
# ij_editorconfig_space_after_comma = true
# ij_editorconfig_space_before_colon = false
# ij_editorconfig_space_before_comma = false
# ij_editorconfig_spaces_around_assignment_operators = true

[{*.md, *.mkd, *.markdown}]
max_line_length = 72

[{*.ps1, *.psm1, *.psd1}]
# max_line_length = 115

[{*.yml, *.yaml}]
indent_size = 2
ij_yaml_keep_indents_on_empty_lines = false
ij_yaml_keep_line_breaks = true

